<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/dropdown.css' />
    <script src="/scripts/dropdown.js"></script>
  </head>
  <body>
    <a href="/<%= path1 %>"><h3>Back to previous page</h3></a>

    <h1>List of coins for <%= path1 %> in <%= path2 %></h1>

    <% coins.forEach(function(coin) { %>
      <div><%- coin.tokenTicker %> - <%- coin.tokenName %> -- <%- coin.tokenAmount %> </div>

      <form method="post" action="/updateAmount">
        <input type="hidden" name="userName" value="<%= path1 %>">
        <input type="hidden" name="portfolioName" value="<%= path2 %>">
        <input type="hidden" name="tokenTicker" value="<%= coin.tokenTicker %>">
        <input type="number" name="newAmount" value="" placeholder="Enter New Amount">
        <input type="submit" value="Update Amount">
      </form>
      
      <form method="post" action="/deleteCoin">
        <input type="hidden" name="userName" value="<%= path1 %>">
        <input type="hidden" name="portfolioName" value="<%= path2 %>">
        <input type="hidden" name="coinTicker" value="<%= coin.tokenTicker %>">
        <input type="submit" value="Delete Coin">
      </form>
      <br>
     <% }) %>


     <br><br><br>
     <form method="post" action="/addCoin">
        <input id="addSymbol" type="hidden" name="tokenTickerToAdd" value="" readonly>
        <input id="addName" type="hidden" name="tokenNameToAdd" value="" readonly>
        <input type="number" name="tokenAmountToAdd" value="" placeholder="Enter Amount Owned">
        <input type="hidden" name="userName" value="<%= path1 %>">
        <input type="hidden" name="portfolioName" value="<%= path2 %>">
        <input type="submit" value="Add Coin">
     </form>

     <input id="displayCoinSelection" type="text" value="" placeholder="Selected Coin" readonly>
     <div class="dropdown">
      <button onclick="showCoins()" class="dropbtn">Click here to select a coin ▼</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterCoins()">
        </div>
     </div>

  </body>
</html>