<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/dropdown.css' />
    <script src="/scripts/dropdown.js"></script>
  </head>
  <body>
    <a href="/<%= path1 %>"><h6>Back to previous page</h6></a>

    <h2>List of coins for <%= path1 %> in <%= path2 %></h2>

    <!-- LIST OF ALL COINS WITH DELETE BUTTON -->
    <% coins.forEach(function(coin) { %>

      <div class="Row">
        <!-- <a><%- coin.tokenTicker %> --- <%- coin.tokenName %> --- <%- coin.tokenAmount %> </a> -->
      <!-- <form method="post" action="/deleteCoin"> -->

      <!-- <input type="hidden" name="userName" value="<%= path1 %>"> -->
      <!-- <input type="hidden" name="portfolioName" value="<%= path2 %>"> -->
      <!-- <input type="hidden" name="coinTicker" value="<%= coin.tokenTicker %>"> -->

        <!-- ADD CURRENT PRICE PER COIN AND VALUE OF COIN -->

      <!-- <div class="Lbtn"><input type="submit" value="Delete Coin"></div> -->
      </form>

      <div><%- coin.tokenTicker %> - <%- coin.tokenName %> -- <%- coin.tokenAmount %> </div>

      <form method="post" action="/updateAmount">
        <input type="hidden" name="userName" value="<%= path1 %>">
        <input type="hidden" name="portfolioName" value="<%= path2 %>">
        <input type="hidden" name="tokenTicker" value="<%= coin.tokenTicker %>">
        <input type="number" name="newAmount" value="" placeholder="Enter New Amount">
        <input type="submit" value="Update Amount">
      </form>
      
      <form method="post" action="/deleteCoin">
        <input type="hidden" name="userName" value="<%= path1 %>">
        <input type="hidden" name="portfolioName" value="<%= path2 %>">
        <input type="hidden" name="coinTicker" value="<%= coin.tokenTicker %>">
        <input type="submit" value="Delete Coin">
      </form>
    </div>
      <br>

     <% }) %>


     <br><br><br>
     <!-- ADD COIN FORM AND BUTTON -->
     <div class="dropdown">
      <button onclick="showCoins()" class="dropbtn">Click here to select a coin ▼</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterCoins()">
        </div>
     </div>

     <input id="displayCoinSelection" type="text" value="" placeholder="Selected Coin" readonly>

     <form method="post" action="/addCoin">
        <input id="addSymbol" type="hidden" name="tokenTickerToAdd" value="" readonly>
        <input id="addName" type="hidden" name="tokenNameToAdd" value="" readonly>
        <input id="addAmount" class="input-content" type="number" name="tokenAmountToAdd" value="" placeholder="Enter Amount Owned">
        <input type="hidden" name="userName" value="<%= path1 %>">
        <input type="hidden" name="portfolioName" value="<%= path2 %>">
        <input id="submitAddCoin" type="submit" class="input-content" value="Add Coin">
     </form>


  </body>
</html>