<!DOCTYPE html>
<html>
  <body>
    <a href=".."><h6>Back to previous page</h6></a>
    <h2>List of portfolios for <%= path1 %></h2>

    <!-- LIST OF ALL PORTOLIOS WITH DELETE BUTTON -->
    <% portfolios.forEach(function(portName) { %>
      <div class="Row">
      <a href="/<%- path1 %>/<%- portName %>"<h2><%- portName %></h2></a>
      <form method="post" action="/deletePortfolio" onsubmit="return confirm('Are you sure you want to delete this portfolio?');">
        
        <input type="hidden" name="userName" value="<%= path1 %>">
        <input type="hidden" name="portfolioName" value="<%= portName %>">
        <div class="Lbtn"><input type="submit" value="Delete Portfolio"></div>
        </form>

      </div>

      <br>

     <% }) %>

     <br><br><br>
     <!-- ADD PORTFOLIO BUTTON -->
     <form method="post" action="/addPortfolio">
       <input type="text" name="portfolioToAdd" value="" pattern="[0-9A-Za-z_]*" data-toggle="tooltip" title="letters, numbers and underscores only" placeholder="Enter a portfolio name">
       <input type="hidden" name="userName" value="<%= path1 %>">
       <input type="submit" value="Add Portfolio">
     </form>

  </body>
</html>

